:root{
    @media (min-width: 1200px) {
        --circle_size:25;
    }
    @media (min-width: 1500px) {
        --circle_size:30;
    }
    @media (min-width: 2200px) {
        --circle_size:50;
    }
}

body {
    margin: 0;
    padding: 0;
}

#MainBody {
    margin: 0px 20px 0px 20px;
    height: calc(100vh - var(--nav-height) - 22px);
    display: flex;

    .left_part{
        display: flex;
        width: 20%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;

        .message_part {
            display: flex;
            width: 100%;
            height: 90%;
            flex-direction: column;
            align-items: center;
            .alert-message{
                width: 100%;
            }
        }

        .turn_page{
            height: 40px;
            margin-bottom: 0px;
        }
    }

    .right_part {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;

        .button_list{
            position: absolute;
            left:0;
        }
    }
}