body {
  margin: 0;
  padding: 0;
}
#MainBody {
  margin: 0px 20px 0px 20px;
  height: calc(100vh - 82px);
  display: flex;
}
#MainBody .left_part {
  display: flex;
  float: left;
  width: 20%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#MainBody .left_part p {
  font-size: 1.6rem;
}
#MainBody .left_part .left_part_title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
#MainBody .left_part .statistic_num {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
#MainBody .left_part .chart_style {
  width: 100%;
  flex: 1;
}
#MainBody .left_part #chart3 {
  width: 100%;
  flex: 2;
  color: #FFFFFF;
}
#MainBody .right_part {
  display: flex;
  width: 80%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
#MainBody .right_part #SubwayLine {
  border: 1px solid black;
}
