:root{
    @media (min-width: 1200px) {
        --circle_size:25;
    }
    @media (min-width: 1500px) {
        --circle_size:30;
    }
    @media (min-width: 2200px) {
        --circle_size:50;
    }
}

body {
    margin: 0;
    padding: 0;
}

#MainBody {
    margin: 0px 20px 0px 20px;
    height: calc(100vh - var(--nav-height) - 22px);
    display: flex;

    // flex-direction: column;
    .left_part {
        display: flex;
        float: left;
        width: 20%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-right: 10px;
        p {
            font-size: 1.6rem;
        }

        .left_part_title {
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: 1px;
        }

        .statistic_num {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }

        .chart_style {
            width: 100%;
            flex: 1;
        }

        #chart3 {
            width: 100%;
            flex: 2;
            color: #FFFFFF;
        }
    }

    .right_part {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;

        .button_list{
            position: absolute;
            left:0;
        }

    }
}